.react-select__single-value,
.react-select__input-container,
.react-select__input,
.react-select__multi-value__label {
  /* TYPO */
  color: #153158;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.react-select__multi-value {
  margin-right: 0.5rem;
  align-items: center;
  gap: 0.25rem;
}
.react-select__multi-value__remove {
  background: #fca5a5;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-select__multi-value__remove {
  fill: #b91c1c !important;
  opacity: #b91c1c !important;
  color: #b91c1c;
}
.react-select__placeholder {
  /* TYPO */
  color: rgba(137, 152, 172, 0.8);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.react-select__menu {
  border-radius: 8px;
  border: 1px solid rgba(21, 49, 88, 0.2);
  background: #fff;
  padding: 20px;
  padding-bottom: 14px;
  top: calc(100% + 8px) !important;
}
.react-select__control {
  min-height: 0px !important;
  padding: 20px 16px;
}
.react-select-container {
  border-radius: 10px;
  border: 1px solid rgba(137, 152, 172, 0.4);
}
.react-select__option,
.react-select__menu-notice,
.react-select__menu-notice--no-options {
  color: #153158;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 20px;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 6px;
}
.react-select__option > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.react-select__option > div > span:last-child {
  /* TYPO */
  color: rgba(21, 49, 88, 0.6);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.react-select__option img {
  width: 45px;
  height: 28px;
  border-radius: 5px;
  object-fit: cover;
}
.react-select__option:hover,
.react-select__option--is-selected {
  background: rgba(21, 49, 88, 0.1);
}
.react-select__control.react-select__control--menu-is-open
  .react-select__dropdown-indicator {
  transform: rotate(180deg);
}
.react-select__indicator-separator {
  display: block;
  border: 1px solid rgba(137, 152, 172, 0.4);
}
.react-select__indicators {
  color: #153158;
  gap: 0.25rem;
}
